<h1>Our Story </h1>

<div class="row">
	<div class="anna col-xs-6 indiv">
		<p>Anna's Story</p>
		<div class="anna-story">
			<span>
				Anna is finishing up her Masters in Social Work at UC Berkeley. When she’s not reading for school, she’s hanging out with David or reading a romance novel she got from the library. She likes to bake yummy things, mostly for the positive reinforcement she gets from the people she shares her desserts with. She loves to look at pictures of animals doing funny things on the internet. She gets excited about exploring new places, and she is convinced that she will someday become a marathon runner despite the fact that she greatly dislikes running. She loves David very much, and she feels incredibly lucky to be spending her life with him. 
			</span>
		</div>
	</div>
	<div class="david col-xs-6 indiv">
		<p>David's Story</p>
		<div class="david-story">
			<span>
				David is in love with Anna and wants to spend his life with her. David works normal jobs, at least until he sells his first mystery paperback and makes a million dollars being the next James Patterson, only worse. He loves Jacques Pepin and hates Gordon Ramsay. He thinks college athletics is a scam. He is probably reading a crime fiction paperback he got for a quarter, or watching a crummy movie on Netflix, or ranking the Warriors roster in his head based on an intersection of PER, adjusted +/-, and an arbitrary judgement of deserved playing time. He has a list of names he’d like to name his future dogs. He wants to have babies with Anna.
			</span>
		</div>
	</div>
</div>

<div class="row our-row">
	<div class="us col-xs-4 col-lg-offset-4">
		<p>A circle</p>
		<div class="our-story">
			<span>
				David and Anna have been together for the better part of seven years. They had their first kiss on New Years Eve in 2008, and they moved in together the following summer. Dijon joined them a year after that, and Willie came two years later. David proposed to Anna on a random Tuesday in June 2015, when they both decided to call in sick to work and drive through Marin. Anna proposed to David a few months later, because she wanted him to know that she wants to marry him just as much as he wants to marry her. 
			</span>
		</div>
	</div>
</div>

<div class="row row-diwillie">
	<div class="dijon col-xs-6 indiv">
		<p>Dijon's story</p>
		<div class="dijon-story">
			<span>
				Dijon is rather overweight, despite numerous dieting attempts. He likes to yell for his breakfast very dramatically, sleep in various sunny spots during the day, snore loudly, and casually bat around a string at night. David and Anna fostered him when he was a kitten (along with the help of Dijon’s Aunt Brittany, his Uncle Nathan, and his brother Pene). He was such a special little weirdo, they just couldn’t let him go.
			</span>
		</div>
	</div>

	<div class="willie col-xs-6 indiv">
		<p>Willie's Story</p>
		<div class="willie-story">
			<span>
				Willie is startlingly intelligent for a cat but still inexplicably scared of brooms. He enjoys telling you all about his day when you get home from work, eating spaghetti, and getting head rubs. Sometimes when he wants the window open, he stands on his back legs and tries to dig at the glass with his front paws. David and Anna fostered Willie too. After a friend adopted him and could no longer keep him, he came back to live with them and torment Dijon for the rest of his years. 
			</span>
		</div>
	</div>
</div>