<section id="our-story">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 style="padding-top: 1em;">Our Story </h2>
			</div>
			<div class="col-xs-4">
				<div class="anna"></div>
			</div>
			<div class="col-xs-8">
				<p>
					Anna is finishing up her Masters in Social Work at UC Berkeley. When she’s not reading for school, she’s hanging out with David or reading a romance novel she got from the library. She likes to bake yummy things, mostly for the positive reinforcement she gets from the people she shares her desserts with. She loves to look at pictures of animals doing funny things on the internet. She gets excited about exploring new places, and she is convinced that she will someday become a marathon runner despite the fact that she greatly dislikes running. She loves David very much, and she feels incredibly lucky to be spending her life with him. 
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<p>David is in love with Anna and wants to spend his life with her. David works normal jobs, at least until he sells his first mystery paperback and makes a million dollars being the next James Patterson, only worse. He loves Jacques Pepin and hates Gordon Ramsay. He thinks college athletics is a scam. He is probably reading a crime fiction paperback he got for a quarter, or watching a crummy movie on Netflix, or ranking the Warriors roster in his head based on an intersection of PER, adjusted +/-, and an arbitrary judgement of deserved playing time. He has a list of names he’d like to name his future dogs. He wants to have babies with Anna.</p>
			</div>
			<div class="col-xs-4">
				<div class="david"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div class="dijon"></div>
			</div>
			<div class="col-xs-8">
				<p>
					Dijon is rather overweight, despite numerous dieting attempts. He likes to yell for his breakfast very dramatically, sleep in various sunny spots during the day, snore loudly, and casually bat around a string at night. David and Anna fostered him when he was a kitten (along with the help of Dijon’s Aunt Brittany, his Uncle Nathan, and his brother Pene). He was such a special little weirdo, they just couldn’t let him go.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<p>Willie is startlingly intelligent for a cat but still inexplicably scared of brooms. He enjoys telling you all about his day when you get home from work, eating spaghetti, and getting head rubs. Sometimes when he wants the window open, he stands on his back legs and tries to dig at the glass with his front paws. David and Anna fostered Willie too. After a friend adopted him and could no longer keep him, he came back to live with them and torment Dijon for the rest of his years.</p>
			</div>
			<div class="col-xs-4">
				<div class="willie"></div>
			</div>
		</div>
		</section>