<!-- potluck page -->


<div id="wrapper">
	<div class="col-sm-12">
		<div id="table-of-food">
			<div class="header">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<h1>Anna & David</h1>
					<h3>Are Getting Married!</h3>
					<h3>August 13, 2015 @ 4:00 pm</h3>

				</div>
			</div>
		</div>	
	</div>
	<div id="content">
		<div class="row">
				<h2>Potluck Details</h2>
				<p>
					If you’re planning on bringing a dish -- thank you! We can’t wait to see what you cook up! We’re 
					still figuring out logistics for dropping off your dish check back fro more info soon! Want to see what other people are bringing?
				</p>
			</div>
		</div>
		<div class="row potluck-details">
			<div class="col-sm-4">
				<h3>Portion Size</h3>
				<p>
					There will be around 150 people at our wedding, and 
					we absolutely do not expect you to bring enough food 
					to feed everyone. Instead, please consider bringing 
					the portion that you would make for a large dinner 
					party. Between all of us, we’ll have more than enough 
					food to share.
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Reheating</h3>
				<p>
					We’ll have staff on site to help re-heat any dishes that 
					need it. But, we’ll have limited oven space, so we’d 
					like to plan ahead. If your dish needs to be reheated 
					before serving, let us know on your RSVP. If you 
					bring your dish hot, we’ll have chafers ready to keep it 
					warm until dinner time. Please bring your dish fully 
					cooked -- we can’t do any actual cooking at the 
					venue, but we can re-heat it!
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Bringing your Dish</h3>
				<p>
					Please bring your food in a disposable tray or bowl. 
					We’re trying to minimize cleanup time. If you’re 
					bringing something that won’t work in a disposable 
					dish, send Anna an email and we can figure it out! 
					annasalomone@gmail.com. Something like this
					works great.
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row potluck-details">
		<div class="col-sm-4">
			<h3>Serving</h3>
			<p>
				We’re renting chafers for dishes that need to be 
				warm, and everything else will be served in the 
				dishes they come in. No need to bring serving 
				utensils; we’ve got you covered.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Food Sensitivities</h3>
			<p>
				We’ll have both vegetarian and meat main dishes. If 
				you have any food sensitivities/restrictions (vegan, 
				gluten free, etc.), we suggest incorporating those into 
				the dish you make so we can make sure there’s 
				something for everyone to eat.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Labeling Your Dish </h3>
			<p>
				We’ll make up formal food labels (based on the dish 
				you RSVP with) so people know what they’re eating. 
				If you could label your dish in some way (post it note, 
				piece of paper, sharpie on the tinfoil covering it -- 
				we’re not picky), so we can match dishes to the 
				printed food labels, we would be grateful. Also, if your 
				dish is vegetarian, vegan, or gluten free, we’d 
				appreciate you noting that as well.
			</p>
		</div>
	</div> <!-- /row -->
	</div> <!-- /content -->
	<div id="footer">
		<p>Made with Love by Nichole Shelton (nicholesvibrantlife.com)</p>
	</div>
</div>

