<!-- potluck page -->


<div id="wrapper">
	<!-- <div class="col-sm-12">
		<div id="table-of-food">
			<div class="header">
				<div class="col-sm-6">
					<h1>Anna & David</h1>
					<h3>Are Getting Married!</h3>
					<h3>August 13, 2015 @ 4:00 pm</h3>
				</div>
			</div>
		</div>	
	</div> -->
	<div class="col-sm-12">
		<div id="table-of-food">
			<div class="header">
				<div class="col-sm-12">
					<div class="potluck-info">
						<h2>Anna & David Are Getting Married!</h2>
						<h3>August 13, 2016</h3>
					</div>
					<!-- <div class="wedding-info">
						<h4>Are Getting Married!</h4>
						<h4>August 13, 2015</h4>
					</div> -->
				</div>
			</div>
		</div>	
	</div>
	<div id="content">
		<div class="row">

			<div class="col-sm-12">
				
				<p style="padding-top: 3em; text-align: justify;">Our favorite meals have always been those we’ve shared in the homes of our family and friends. To celebrate our marriage and the gathering of our community, we want to recreate that type of meal with all of you. To that end, we’re hosting a wedding potluck! You’re invited to participate by bringing a dish that’s meaningful to you -- an old family recipe, something that you love to eat, or something that you’re excited to make and share with others. We’ll provide a main dish, cake, and beverages. We can’t wait to celebrate with all of you and share a meal that’s full of history, made with love, and thoughtfully created by the people we care about the most. Participating in the potluck is entirely up to you -- if you’re unable or don’t want to participate, that is perfectly okay. Either way, we’re so excited to share this day with you!</p>
			</div>
				<h2>Potluck Details</h2>
				<p>
					If you’re planning on bringing a dish -- thank you! We can’t wait to see what you cook up! Please let us know what you’re thinking about bringing when you RSVP. Your responses will help us plan the best meal possible and fill in the gaps where need be. </p>

				<p>We also invite you to send us your recipe ahead of time so that we can bind all of the recipes together to share with everyone who attends.
				</p>
				<p style="font-size: 1.5em; color: #769E9B"><a href="http://goo.gl/forms/sz5LJ2jqAx" taregt="_blank">Tell Us What You're Bringing To the Potluck!</a></p>
			</div>
		</div>
		<div class="row potluck-details">
			<div class="col-sm-4">
				<h3>Portion Size</h3>
				<p>
					There will be around 150 people at our wedding, and 
					we absolutely do not expect you to bring enough food 
					to feed everyone. Instead, please consider bringing 
					the portion that you would make for a large dinner 
					party. Between all of us, we’ll have more than enough 
					food to share.
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Reheating</h3>
				<p>
					We’ll have staff on site to help re-heat any dishes that 
					need it. But, we’ll have limited oven space, so we’d 
					like to plan ahead. If your dish needs to be reheated 
					before serving, let us know on your RSVP. If you 
					bring your dish hot, we’ll have chafers ready to keep it 
					warm until dinner time. Please bring your dish fully 
					cooked -- we can’t do any actual cooking at the 
					venue, but we can re-heat it!
				</p>
			</div>
			<div class="col-sm-4">
				<h3>Bringing your Dish</h3>
				<p>
					Please bring your food in a disposable tray or bowl. 
					We’re trying to minimize cleanup time. If you’re 
					bringing something that won’t work in a disposable 
					dish, send Anna an email and we can figure it out! 
					annasalomone@gmail.com. <a href="http://www.amazon.com/Catering-Essentials-Half-Steam-Table/dp/B001UBHJI4/ref=sr_1_2?ie=UTF8&qid=1444688995&sr=8-2&keywords=aluminum+serving+tray" target="_blank">Something like this
					works great</a>.
				</p>
			</div>
		</div> <!-- /row -->

		<div class="row potluck-details">
		<div class="col-sm-4">
			<h3>Serving</h3>
			<p>
				We’re renting chafers for dishes that need to be 
				warm, and everything else will be served in the 
				dishes they come in. No need to bring serving 
				utensils; we’ve got you covered.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Food Sensitivities</h3>
			<p>
				We’ll have both vegetarian and meat main dishes. If 
				you have any food sensitivities/restrictions (vegan, 
				gluten free, etc.), we suggest incorporating those into 
				the dish you make so we can make sure there’s 
				something for everyone to eat.
			</p>
		</div>
		<div class="col-sm-4">
			<h3>Labeling Your Dish </h3>
			<p>
				We’ll make up formal food labels (based on the dish 
				you RSVP with) so people know what they’re eating. 
				If you could label your dish in some way (post it note, 
				piece of paper, sharpie on the tinfoil covering it -- 
				we’re not picky), so we can match dishes to the 
				printed food labels, we would be grateful. Also, if your 
				dish is vegetarian, vegan, or gluten free, we’d 
				appreciate you noting that as well.
			</p>
		</div>
	</div> <!-- /row -->
	</div> <!-- /content -->
	<div id="footer">
		<p>Made with Love by <a href="http://nicholesvibrantlife.com/" style="color: #769E9B" target="_blank">Nichole Shelton</a></p>
	</div>
</div>

