<section class="box--mint" style="height: 100%;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<h1 style="margin-top: 2em; font-size: 4em; text-shadow: none; ">RSVP for Our Wedding</h1>
					<iframe style="display:block;width: 500px;height:600px;border:1px solid #ccc;overflow:hidden; box-shadow: 3px 2px #ccc;" 
	        src="http://david-and-annas-wedding.anrsvp.com">
					</iframe>
				</div>
				<div class="col-sm-6">
					<h1 style="margin-top: 2em; font-size: 4em; text-shadow: none; ">Sign Up for Our Potluck</h1>
					<iframe src="https://docs.google.com/forms/d/1-_AKAX2XdWEUZUG69OedE-HM2_WlfjsDFTSKAD1mRhE/viewform?embedded=true" width="500" height="600" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid #ccc; box-shadow: 3px 2px #ccc;">Loading...</iframe>
				</div>
			</div>
		</div>
	</div>
	
</section>
