<section style="background-color: #cfe6e4;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-6">
					<h1 style="margin-top: 2em; font-size: 4em; text-shadow: none; ">RSVP for Our Wedding</h1>
					<div class="visible-xs-block">
						<button><a href="http://david-and-annas-wedding.anrsvp.com" style="color:#ffffff">Register Now > </a></button>
					</div>
					<div class="iframe-container hidden-xs">
					<iframe style="border:1px solid #ccc;overflow:hidden; box-shadow: 3px 2px #ccc;" 
	        src="http://david-and-annas-wedding.anrsvp.com">
					</iframe>
						
					</div>
				</div>
				<div class="col-sm-6">
					<h1 style="margin-top: 2em; font-size: 4em; text-shadow: none; ">Sign Up for Our Potluck</h1>
					<div class="visible-xs-block">
						<button><a href="http://goo.gl/forms/5q6DWlzxMI" style="color:#ffffff">Sign Up ></a></button>
					</div>
					<div class="iframe-container hidden-xs">
					<iframe src="https://docs.google.com/forms/d/1-_AKAX2XdWEUZUG69OedE-HM2_WlfjsDFTSKAD1mRhE/viewform?embedded=true" style="border: 1px solid #ccc; box-shadow: 3px 2px #ccc;">Loading...</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
