


<div id="wrapper">
	<div class="col-sm-12">
		<div id="hero">
			<div class="header">
				<div class="col-sm-6">
				</div>
				<div class="col-sm-6">
					<h1>Anna & David</h1>
					<h2>Are Getting Married!</h2>
					<h3>August 13, 2015 @ 4:00 pm</h3>
				</div>
			</div>
		</div>	
	</div>
	<div id="content">
		<div class="location row">
			<h2>When & Where</h2>
			<div class="col-sm-4">
				<%= image_tag('OldHomestead.jpg') %>
			</div>
			<div class="col-sm-4">
				<p>August 13, 2015 @ 4:00 pm</p>
				<p>The Old Homestead in Crockett, CA</p>
				<p>Right across the street from the Sugar Factory</p>
				<p>Check back soon for times and travel directions!</p>
			</div>
			<div class="col-sm-4">
				<img src="http://placehold.it/350x350">
				<h5>Google Map Image</h5>
			</div>
		</div> <!-- /row -->

		<div class="potluck row">
			<h2>Potluck</h2>
			<h3>“When you invite someone to sit at your table and you want to cook for them, you're inviting a person into your life”</h3>
			 <h3>- Maya Angelou</h3>
			<div class="col-sm-6">
				<p>
					Our favorite meals have always been those we’ve shared in the homes of our family and friends. To celebrate our marriage and the gathering of our community, we want to recreate that type of meal with all of you. To that end, we’re hosting a wedding potluck! You’re invited to participate by bringing a dish that’s meaningful to you -- an old family recipe, something that you love to eat, or something that you’re excited to make and share with others.
					We’ll provide a main dish, cake, and beverages. We can’t wait to celebrate with all of you and share a meal that’s full of history, made with love, and thoughtfully created by the people we care about the most. Participating in the potluck is entirely up to you -- if you’re unable or don’t want to participate, that is perfectly okay. Either way, we’re so excited to share this day with you!
				</p>
				<p><%= link_to "Want to participate? Great! Here are some logistics", potluck_path %></p>
			</div>
			<div class="col-sm-6">
				<img src="http://placehold.it/350x350">
				<h5>Tasty Food</h5>
			</div>
		</div> <!-- /row -->


		<div class="registry row">
			<h2>Registry</h2>
			<div class="col-sm-6">
				<%= image_tag('share_registry4_grass.jpg')%>
			</div>
			<div class="col-sm-6">
				<p>
					If you’d like to contribute a gift in lieu of that, we have a small registry 
					with Thankful to share. Truthfully, the greatest give you could give us is 
					your presence, and we aren’t expecting or needing anything more than 
					that. We are so thankful for you!
				</p>
				<p><%= link_to "Thankful Gift Registry", 'https://thankfulregistry.com/davidandanna', :target => "_blank" %></p>
			</div>
		</div> <!-- /row -->

	</div> <!-- /content -->
	<div id="footer">
		<p>Made with Love by Nichole Shelton (nicholesvibrantlife.com)</p>
	</div>
</div>

