<!-- homepage -->


<div id="wrapper">
	<div class="col-sm-12">
		<div id="hero">
			<div class="header">
				<div class="col-sm-6">
					<h1>Anna & David</h1>
					<div class="wedding-info">
						<h4>Are Getting Married!</h4>
						<h4>August 13, 2016 at 4:00 p.m.</h4>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div id="content">
		<div class="location row" >
			<h2 style="margin: 30px 0;">When & Where</h2>
			<div class="col-sm-6" id="venue"  style="margin-bottom: 30px;">
				<!-- <%= image_tag('OldHomestead.jpg') %> -->

				<h6 class="salmon text-left">Date: August 13, 2016 at 4:00 p.m.</h6>
				
				<p class="salmonBg" style="padding: 10px; width: 50%; "><a href="http://david-and-annas-wedding.anrsvp.com/" style="color: #fafafa;" target="_blank">RSVP For Our Wedding ></a></p>
				<p class="text-left">The ceremony will begin at 4:00pm and the reception will end at 10:00pm.</p>
				<p class="text-left">Potluck drop off: You can drop it off as early as 3:15pm. The ceremony and the reception are at the same place, so you can drop off your food anytime before or after the ceremony. (Please note: if your food item needs to be reheated, please drop it off prior to the ceremony so we have ample time to get it ready for dinner!)
				</p>
				<p class="text-left"><a href="https://docs.google.com/spreadsheets/d/1nRi4G_05059UVxDX3DsUZ-cetUQRQkenzeP_gv8ck1M/edit?usp=sharing" class="black text-left" style="text-decoration: underline;" target="_blank">See what other people are bringing to the potluck ></a></p>

				<h6 class="salmon text-left">Accomodations</h6>
				<p class="text-left">We picked a very popular weekend to get married -- not only is it our wedding weekend, but it’s Cal’s freshman move in weekend too! Unfortunately, that means that hotel prices in the area are higher than normal. Air BnB or VRBO are likely your best bets in finding reasonably priced accommodations. Please book sooner rather than later -- they fill up quickly! If you’re relying on public transportation to get around, stick to rentals in Berkeley or Oakland. If you have access to a car, rentals in Berkeley, Albany, Emeryville, Oakland, El Cerrito, or Crockett itself should work wonderfully. Here are some options:</p>
				<p class="text-left"><a href="http://bit.ly/1Sg0YpM" class="black text-left" style="text-decoration: underline;" target="_blank">Air Bnb ></a></p>
				<p class="text-left"><a href="http://bit.ly/1MuupCa" class="black text-left" style="text-decoration: underline;" target="_blank">VRBO ></a></p>
				<p class="text-left"><a href="http://bit.ly/1Sg180u" class="black text-left" style="text-decoration: underline;" target="_blank">Local Hotels ></a></p>
			</div>
			<div class="col-sm-6">
				<div class="iframe-container">
					<!-- <div id="map" class="iframe">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12567.074517187017!2d-122.22623150410398!3d38.05247714802413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857178bc5469f5%3A0x3d8937c3f7a0dd6a!2sThe+Old+Homestead!5e0!3m2!1sen!2sus!4v1451853785053"allowfullscreen></iframe>
					</div> -->
					<div>
						<h6 class="salmon text-left">Directions:</h6>
						<p class="text-left"><a href="https://goo.gl/maps/FQH5BtiX9Uo" target="_blank" class="black" style="text-decoration: underline;">The Old Homestead - Crocket, CA ></a></p>
						<p class="text-left">Google Maps gives you a bit of a round about way to get to the Old Homestead. These directions are easier, but both will get you there! </p>
						<ul> From San Francisco/East Bay
							<li>Take I-80 East toward Sacramento</li>
							<li>Take exit 27 for Pomona St toward Crockett (the last exit before the Carquinez Bridge)</li>
							<li>Turn left off the freeway onto Pomona St. </li>
							<li>Follow Pomona street through town, past John Swett High School (on the left)</li>
							<li>After the high school, turn left on Rolph Ave.</li>
							<li>Rolph Ave wlll dead-end into Loring Ave. Turn left. </li>
							<li>The parking lot for the Old Homestead will be on your left on that same block. The driveway is just past the Crockett Library.</li>
							<li>The Old Homestead is in the back right corner of the parking lot. Park wherever you'd like!</li>
						</ul>
						<ul> From Sacramento
							<li>Take I-80 East toward Sacramento</li>
							<li>Take exit 27 for Pomona St toward Crockett(the first exit after the Carquinez Bridge)</li>
							<li>Turn left off the freeway onto Pomona St. </li>
							<li>Follow Pomona street through town, past John Swett High School (on the left)</li>
							<li>After the high school, turn left on Rolph Ave.</li>
							<li>Rolph Ave wlll dead-end into Loring Ave. Turn left. </li>
							<li>The parking lot for the Old Homestead will be on your left on that same block. The driveway is just past the Crockett Library.</li>
							<li>The Old Homestead is in the back right corner of the parking lot. Park wherever you'd like!</li>
						</ul>
					</div>
					<div>
						<h6 class="salmon text-left">Dress Code</h6>
						<p>Casual -- wear something you feel good in! The ceremony and reception will both be outside, and while it'll be hot during the day, it can cool down at night. So, please bring layers! Shoes that you feel comfortable walking on grass and gravel in are a good idea, too.</p>
					</div>
				</div>
			</div>

		</div> <!-- /row -->


		<div class="potluck row">
			<h2>Potluck</h2>
			<h4>“When you invite someone to sit at your table and you want to cook for them, you're inviting a person into your life”</h4>
			<h4>- Maya Angelou</h4>
			<div class="col-sm-6">
				<p class="justify">
					Our favorite meals have always been those we’ve shared in the homes of our family and friends. To celebrate our marriage and the gathering of our community, we want to recreate that type of meal with all of you. To that end, we’re hosting a wedding potluck! You’re invited to participate by bringing a dish that’s meaningful to you -- an old family recipe, something that you love to eat, or something that you’re excited to make and share with others.
					We’ll provide a main dish, cake, and beverages. We can’t wait to celebrate with all of you and share a meal that’s full of history, made with love, and thoughtfully created by the people we care about the most. Participating in the potluck is entirely up to you -- if you’re unable or don’t want to participate, that is perfectly okay. Either way, we’re so excited to share this day with you!
				</p>
				<p><%= link_to "Want to participate? Great! Here are some logistics >", potluck_path %></p>
				<p>Know what you're bringing? Awesome - <a href="http://goo.gl/forms/OnmBvWD45m" target="_blank">Tell us What You're Bringing > </a></p>
			</div>
			<div class="col-sm-6">
				<%= image_tag('brunch.jpeg') %>
			</div>
		</div> <!-- /row -->


		<div class="registry row">
			<h2>Registry</h2>
			<div class="col-sm-6" style="margin-bottom: 60px;">
				<%= image_tag('share_registry4_grass.jpg')%>
			</div>
			<div class="col-sm-3">
				<p class="lg-f-30">
					Your presence and participation are more than enough. If you’d still like to contribute a gift, we have a registry at Thankful.
				</p>
				<p style="font-size: 16px;"><%= link_to "Thankful Gift Registry >", 'https://thankfulregistry.com/davidandanna', :target => "_blank" %></p>
			</div>
		</div> <!-- /row -->

	</div> <!-- /content -->
</div>

