<!-- homepage -->


<div id="wrapper">
	<div class="col-sm-12">
		<div id="hero">
			<div class="header">
				<div class="col-sm-6">
					<h1>Anna & David</h1>
					<div class="wedding-info">
						<h4>Are Getting Married!</h4>
						<h4>August 13, 2016</h4>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div id="content">
		<div class="location row">
			<h2>When & Where</h2>
			<div class="col-sm-4" id="venue">
				<%= image_tag('OldHomestead.jpg') %>
			</div>
			<div class="col-sm-4">
				<p>August 13, 2016</p>
				<p>The Old Homestead in Crockett, CA</p>
				<p>Right across the street from the Sugar Factory</p>
				<p>Check back soon for time, directions, and accommodations!</p>
			</div>
			<div class="col-sm-4">
				<div id="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12567.074517187017!2d-122.22623150410398!3d38.05247714802413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857178bc5469f5%3A0x3d8937c3f7a0dd6a!2sThe+Old+Homestead!5e0!3m2!1sen!2sus!4v1451853785053" width="371" height="231" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div> <!-- /row -->


		<div class="potluck row">
			<h2>Potluck</h2>
			<h4>“When you invite someone to sit at your table and you want to cook for them, you're inviting a person into your life”</h4>
			 <h4>- Maya Angelou</h4>
			<div class="col-sm-6">
				<p>
					Our favorite meals have always been those we’ve shared in the homes of our family and friends. To celebrate our marriage and the gathering of our community, we want to recreate that type of meal with all of you. To that end, we’re hosting a wedding potluck! You’re invited to participate by bringing a dish that’s meaningful to you -- an old family recipe, something that you love to eat, or something that you’re excited to make and share with others.
					We’ll provide a main dish, cake, and beverages. We can’t wait to celebrate with all of you and share a meal that’s full of history, made with love, and thoughtfully created by the people we care about the most. Participating in the potluck is entirely up to you -- if you’re unable or don’t want to participate, that is perfectly okay. Either way, we’re so excited to share this day with you!
				</p>
				<p><%= link_to "Want to participate? Great! Here are some logistics", potluck_path %></p>
			</div>
			<div class="col-sm-6">
				<%= image_tag('brunch.jpeg') %>
			</div>
		</div> <!-- /row -->


		<div class="registry row">
			<h2>Registry</h2>
			<div class="col-sm-6">
				<%= image_tag('share_registry4_grass.jpg')%>
			</div>
			<div class="col-sm-6">
				<p>
					Your presence and participation are more than enough. If you’d still like to contribute a gift, we have a registry at Thankful.
				</p>
				<p><%= link_to "Thankful Gift Registry", 'https://thankfulregistry.com/davidandanna', :target => "_blank" %></p>
			</div>
		</div> <!-- /row -->

	</div> <!-- /content -->
	<div id="footer">
		<p>Made with Love by <a href="http://nicholesvibrantlife.com/" style="color: #769E9B" target="_blank">Nichole Shelton</a></p>
	</div>
</div>

