$salmon: #fc906c;
$mint: #a3d2ce;
$mint-light: #cfe6e4;
$brown: #c9b79e;
$off-white: #fafafa;

h1 {
	color: $salmon;
}

.header-image {
	position: relative;
	width: 100%;
}

.header-image h1{
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
}

.header-image h2 {
	position: absolute;
	top: 400px;
	width: 100%;
}

.header-image h3 {
	position: absolute;
	top: 500px;
	width: 100%;
}