
$salmon: #fc906c;
$mint: #a3d2ce;
$mint-light: #cfe6e4;
$mint-dark: #769E9B;
$brown: #c9b79e;
$off-white: #fafafa;


body {
  font-family: 'Open Sans', sans-serif !important;
}
.col-sm-12 {
  padding: 0 !important;
}

.row {
  max-width: 120.5rem;
  padding: 20px 30px;
}

.navbar-default .navbar-nav > li > a {
  color: $mint;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $salmon;
}

p {
  font-family: "bebas_neueregular", sans-serif;
}
//nav 

* {
  margin: 0;
  padding: 0;
}
 
header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.3);
    box-shadow: 0 10px 20px rgba(50,50,50,.3);
}

.header {
  h1   {
    margin: 100px 0 0 60px;
    font-size: 7em !important;
    }
    .wedding-info {
      margin: 0 0 0 40px;
      h4 {
        color: $salmon;
        font-weight: 600;
      }
    }
}


.navbar-default {
  background-color: rgba(0, 0, 0, 0.3);
  border:none;
}

.navbar-nav {
  width: 100%;
  text-align: center;
  li {
    float: none;
    display: inline-block;
  }

}
li a {
  text-decoration: none;
  color: #ccc;
  font-size: 25px;

 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

//header image with picture

#hero{
  background-image:url('AnnaDavid_PotluckHomepage.jpg');
  height:100vh;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  .header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
  }
  
}


// location section
.location {
  background-color: $mint;
  h2, p {
    color: $off-white;
  }
}

#map iframe body {
  background-color: transparent;
  #mapDiv {
    background-color: transparent; 
    margin: 0 200px 0 0;
  }
}


//potluck section 
.potluck {

  h4 {
    color: $salmon;
    line-height: 1;
  }
  a {
    color: $mint-dark;
    text-decoration: underline;
  }
  
}

.potluck img {
  height: 300px;
}

//registry section 
.registry {
  background-color: $salmon;
  img {
    border-radius: 50%;
  }
  h2, p, a {
    color: $off-white;
  }
  a {
    text-decoration: underline;
  }
}


// ------------- potluck page 
#table-of-food {
  background:url('AnnaDavid_TopPhoto.jpg') no-repeat;
  background-size:100%;
  background-position: top center;
  background-repeat: no-repeat;
  height:100vh;

  h2, h3 {
  color: $salmon;
  font-weight: 600;
  }
  .col-sm-12 {
    padding-top: 5em !important;
  }
}

.potluck-info {
  h3 {
  line-height: 0;
  }
}



//-------------------our-story page
#our-story {
  background-color: $mint-light;
}

.anna {
  background: url('anna.JPG') no-repeat center;
  background-size: cover;
  height: 250px;
  width: 300px;
  border-radius: 20%;
}

.david {
  background: url('david.JPG') no-repeat center; 
  background-size: cover;
  height: 250px;
  width: 300px;
  border-radius: 20%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.dijon {
  background: url('cuddles.JPG') no-repeat center;
  background-size: cover;
  height: 250px;
  width: 300px;
  border-radius: 20%;
    transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.willie {
  background: url('david-crys.JPG') no-repeat center;
  background-size: cover;
   height: 250px;
  width: 300px;
  border-radius: 20%;
    transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.marginTopBottom {
  margin: 100px auto;
}

.justify {
  text-align: justify !important;
}

//footer 
#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}