
$salmon: #fc906c;
$mint: #a3d2ce;
$mint-light: #cfe6e4;
$mint-dark: #769E9B;
$brown: #c9b79e;
$off-white: #fafafa;

.col-sm-12 {
  padding: 0 !important;
}

.row {
  max-width: 120.5rem;
  padding: 20px 30px;
}


p {
  font-family: "bebas_neueregular", sans-serif;
}
//nav 

* {
  margin: 0;
  padding: 0;
}
 
header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.3);
    box-shadow: 0 10px 20px rgba(50,50,50,.3);
}

.header {
  h1   {
    margin: 100px 0 0 60px;
    font-size: 8em !important;
    }
    .wedding-info {
      margin: 0 0 0 40px;
      h4 {
        color: $salmon;
        font-weight: 600;
      }
    }
}

nav {
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: $white;
}
 
ul {
  overflow: auto;
  list-style-type: none;
}
 
li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
li:last-child {
  border-right: none;
}
 
li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #666;
}
 
li.active a {
  font-weight: bold;
  color: #333;
}

//header image with picture

#hero{
  background-image:url('Anna_David.jpg');
  height:100vh;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;

  .header{
    position:absolute;
    top:50%;
    text-align:center;
    width:100%;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
  }
  
}


// location section
.location {
  background-color: $mint;
  h2, p {
    color: $off-white;
  }
}

#map iframe body {
  background-color: transparent;
  #mapDiv {
    background-color: transparent; 
    margin: 0 200px 0 0;
  }
}


//potluck section 
.potluck {

  h4 {
    color: $salmon;
    line-height: 1;
  }
  a {
    color: $mint-dark;
    text-decoration: underline;
  }
  
}

.potluck img {
  height: 300px;
}

//registry section 
.registry {
  background-color: $salmon;
  img {
    border-radius: 50%;
  }
  h2, p {
    color: $off-white;
  }
  a {
    color: $mint-dark;
    text-decoration: underline;
  }
}


// ------------- potluck page 
#table-of-food {
  background:url('table-of-food-2.jpg') no-repeat;
  background-size:100%;
  background-position: top center;
  background-repeat: no-repeat;
  height:100vh;

  h2, h3 {
  color: $white;
  font-weight: 600;
  }
}

.potluck-details {
  h3 {
  color: $mint-dark;
  }
}



//-------------------our-story page
.our-row {
  position: relative;
  top: -200px;
  z-index: 100;
}

.row-diwillie {
  position: relative;
  top: -400px;
}


.indiv {
  border: 2px solid black;
  padding: 30px;
  height: 350px;
  border-radius: 20%;
}

.us {
  border: 2px solid black;
  border-radius: 50%;
  height: 400px;
}
.anna, .dijon {

}

.david, .willie {

}

.anna, .david {

}

.dijon, .willie {
 
}

.anna {
  background: url('anna.JPG') no-repeat center;
  background-size: cover;
}

.anna-story, .david-story, .dijon-story, .willie-story, .our-story {
  display: none;
  color: $mint-light;
}

.anna:hover .anna-story, .david:hover .david-story, .dijon:hover .dijon-story, .willie:hover .willie-story, .us:hover .our-story, .anna:focus .anna-story, .david:focus .david-story, .dijon:focus .dijon-story, .willie:focus .willie-story, .us:focus .our-story, .anna:active .anna-story, .david:active .david-story, .dijon:active .dijon-story, .willie:active .willie-story, .us:active .our-story{
  display: block;
}

.david {
  background: url('david.JPG') no-repeat center; 
  background-size: cover;
}

.dijon {
  background: url('cuddles.JPG') no-repeat center;
  background-size: cover;
}

.willie {
  background: url('david-crys.JPG') no-repeat center;
  background-size: cover;
}

//footer 
#footer{
  padding:30px 0px;
  text-align:center;
  background:#ddd;
}