@media only screen and (max-width: 1265px) {
	.header {
		h1 {
		font-size: 3em !important;
		}

	}

	#hero {
		height: 580px;
	}

	#table-of-food {
		height: 14em !important;
		.col-sm-12 {
			padding-top: 2.5em !important;
		}
		.potluck-info {
			/*background-color: rgba(0, 0, 0, 0.3);*/
			/*padding: 1em;*/
		}
		h2{
			font-size: 3em;
			font-weight: 900;
		}
		h3 {
			font-size: 2em;
			font-weight: 900;
			line-height: 0.1em;
		}
	}
}

@media only screen and (max-width: 765px) {
	.navbar-nav li {
		display: block;
	}
	.navbar-default .navbar-nav > li > a {
		color: $off-white;
	}
	.navbar-collapse {
		background-color: $mint;
	}
	.navbar-default {
		background-color: transparent;
	}
	.navbar-toggle {
	background-color: $mint;
	}
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: $salmon !important;
	}
	#hero{
		height: 13em;
		.header {
			position: relative !important;
			top: 50%;
			right: 30%;
		}
		h1 {
			font-size: 2em !important;
			margin: 0;
		}
		h4 {
			font-size: 1.2em;
		}
		.wedding-info {
			margin: 0;
		}
	}

	#table-of-food {
		height: 30em;
		.wedding-info {
			margin: 0;
		}
		.potluck-info {
			display: none;
		}
	}
	.anna, .david, .dijon, .willie {
		position: relative;
		right: 1.3em;
	}
	.marginTopBottom {
		margin: auto;
	}
	.row {
		padding: 5px;
	}
	.dijon {
		margin-top: 70px;
	}
	.topbottom50 {
		margin: 50px 0;
	}
	.top50 {
		margin-top: 50px;
	}

}
